
Python HW - Жутник Дар'я КІ-02

---

Task №1

In this task you will create a function that takes a list of non-negative integers and strings and returns a new list with the strings filtered out.

In [ ]:
def filter_list(input_list):
  output_list = []
  for i in input_list:          
    if isinstance(i, int):      #if element is integer
      output_list.append(i)     #add element to output list
  return output_list

In [ ]:
print(filter_list([1, 2, 'a', 'b']))
print(filter_list([1, 'a', 'b', 0, 15]))
print(filter_list([1, 2, 'aasf', '1', '123', 123]))

[1, 2]
[1, 0, 15]
[1, 2, 123]

---
Task №2
 
Write a function named first_non_repeating_letter that takes a string input, and returns the first character that is not repeated anywhere in the string.
For example, if given the input 'stress', the function should return 't', since the letter t only occurs once in the string, and occurs first in the string.
As an added challenge, upper- and lowercase letters are considered the same character, but the function should return the correct case for the initial letter. For example, the input 'sTreSS' should return 'T'.
If a string contains all repeating characters, it should return an empty string ("") or None -- see sample tests.

In [ ]:
def first_non_repeating_letter(input_str):
  for char in input_str: 
    # char_reversed has reversed letter case (t->T or T->t)
    char_reversed = char.swapcase() 
    # count how many times both lowercase and uppercase appears in string
    if (input_str.count(char_reversed)+input_str.count(char)) == 1:
      #return first character that appears once
      return char
  #if no such character - return empty string
  return ''

In [ ]:
print(first_non_repeating_letter('stress')) # 't'
print(first_non_repeating_letter("sTreSS")) # 'T'
print(first_non_repeating_letter("sTrtEeSS")) # 'r'

t
T
r

---
Task №3

Digital root is the recursive sum of all the digits in a number.
Given n, take the sum of the digits of n. If that value has more than one digit, continue reducing in this way until a single-digit number is produced. The input will be a non-negative integer

In [ ]:
# count sum of all digits
def digit_sum(n):
  if n<10:
      return n
  return n%10 + digit_sum(n//10)

def digital_root(n):
  #if n less than 10 - return n
  if n < 10:
    return n
  #else: count sum of all digits in n -> sum is new n
  return digital_root(digit_sum(n))

In [ ]:
print(digital_root(16)) # 1+6=7
print(digital_root(942)) # 9+4+2=15 -> 1+5=6
print(digital_root(132189)) # 1+3+2+1+8+9=24 -> 2+4=6
print(digital_root(493193)) # 4+9+3+1+9+3=29 -> 1+1=2

7
6
6
2

---
Task №4

There is an array of numbers - arr [1, 3, 6, 2, 2, 0, 4, 5] there is a number target = 5.
Count the number of pairs in the array, the sum of which will give target

In [ ]:
def count_pairs(arr, target):
  output = 0
  for i in range(len(arr)):
    # pairs shouldn`t be duplicated, so at each iteration i, the number of iterations j is reduced
    for j in range(len(arr)-i):
      if arr[i]+arr[i+j]==target:
        output= output+1
        print(arr[i], '+', arr[i+j])
      
  return output

In [174]:
print('\nPairs: ', count_pairs([1, 3, 6, 2, 2, 0, 4, 5], 5)) # 1+4 / 3+2 / 3+2 / 0+5
# [0]+[6] is the same pair as [6]+[0]

1 + 4
3 + 2
3 + 2
0 + 5

Pairs:  4

---
Task №5

Den has invited some friends. Could you make a program that:
- makes this string uppercase
- gives it sorted in alphabetical order by last name.

When the last names are the same, sort them by first name. Last name and first name of a guest come in the result between parentheses separated by a comma.

In [170]:
def seperate_names(names_str):
  x = ''
  f_names = []
  l_names = []

  # seperate string into 2 lists - with first and last names
  for i in range(len(names_str)):
    if names_str[i] == ':':
      f_names.append(x.upper())
      x = ""
    elif names_str[i] == ';':
      l_names.append(x.upper())
      x = ""
    elif i==len(names_str)-1:
      x += names_str[i]
      l_names.append(x.upper())
      x = ""
    else: x+= names_str[i]

  # merge 2 lists into 1 list
  names_list = list(zip(l_names, f_names))
  # sort list by last names then by first names (if neded)
  names_list.sort(key = lambda x: (x[0], x[1]))

  return names_list


def sort_names(unsorted_str):
  sorted_string = ""
  # transform string into sorted list
  names_list = seperate_names(unsorted_str)

  # transform sorted list back into sorted and formated string
  for i in names_list:
    sorted_string = sorted_string + "(" + i[0] + ', ' + i[1] +') '

  return sorted_string

In [171]:
s = "Fred:Corwill;Wilfred:Corwill;Barney:Tornbull;Betty:Tornbull;Bjon:Tornbull;Raphael:Corwill;Alfred:Corwill"

print(sort_names(s))

(CORWILL, ALFRED) (CORWILL, FRED) (CORWILL, RAPHAEL) (CORWILL, WILFRED) (TORNBULL, BARNEY) (TORNBULL, BETTY) (TORNBULL, BJON)